
h1{
    text-align: center;
    font-size: 40;
    font-style: italic;
}
.stopwatch{
    background-color: rgb(142, 174, 202);
    height: 100vh;
}
    
#display{
    font-size: 40px;
    text-align: center;
}

#startStop{
    font-size: x-large;
    border-radius: 50%;
    background-color: rgb(134, 52, 52);
    margin-left: 562px;
    border: solid;
}
#lapReset{
    font-size: x-large;
    border-radius: 50%;
    background-color: rgb(134, 52, 52);
    border: solid;
}